<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/demofi.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>NoN</title>
</head>
<body>

    <!-- Создать Мероприятие -->
   <!-- <form class="modal-content back-img" action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h2> Создать мероприятие </h2>
      <p> Регистрационная форма на мероприятие </p>
      <hr>

      <label for="fname"><b> Название Мероприятия </b></label>
      <input type="text" placeholder="Название Организации" name="fname" required>

      <label for="birthday"><b>Возраст</b></label>
      <input type="date " placeholder="Возраст" name="birthday" required>

      <label for="name"><b>Место Проведения</b></label>
      <input type="text" placeholder="Место Проведения" name="name" required>

      <label for="time"><b>Дата и Время</b></label>
      <input type="date" placeholder="Дата и Время" name="time" required>

      <label for="num1"><b> Количество участников </b></label>
      <input type="number" placeholder="Количество участников" name="num1" required>

      <label for="num"><b> Контакты </b></label>
      <input type="number" placeholder=" Контакты" name="num" required>

      <label for="info"><b> Информация про Мероприятие </b></label>
      <input type="text" placeholder="Информация про Мероприятие" name="info" required>

      <label for="myfile">Загрузить Фото</label>
      <input type="file" id="myfile" name="myfile">

      <div class="clearfix">
        <button type="submit" class="signupbtn button-sign"> Создать мероприятие</button>
      </div>
    </div>
  </form> -->
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
  
              <div class="card hovercard">
                  <div class="cardheader">
  
                  </div>
                  <div class="avatar">
                      <img alt="" src="http://lorempixel.com/100/100/people/9/">
                  </div>
                  <div class="info">
                      <div class="title">
                          <a target="_blank" href="https://scripteden.com/">Script Eden</a>
                      </div>
                      <div class="desc">Passionate designer</div>
                      <div class="desc">Curious developer</div>
                      <div class="desc">Tech geek</div>
                  </div>
                  
              </div>
  
          </div>
  
    </div>
  </div>
</body>
</html>