{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/demofi.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>NoN</title>
</head>
<body>

    <!-- Создать Мероприятие -->
   <form class="modal-content back-img" action="." method="post" style="border:1px solid #ccc">
    <div class="container">
      <h2> Создать мероприятие </h2>
      <p> Регистрационная форма на мероприятие </p>
      <hr>

      <label for="fname"><b> Название Организации </b></label>
      <input type="text" placeholder="Название Организации" name="fname" required>

      <label for="name"><b> Название Мероприятия </b></label>
      <input type="text" placeholder="Название Мероприятия" name="name" required>

      <label for="time">Дата начала</label>
      <input type="datetime-local" placeholder="Дата и Время" name="time" required>

      <label for="time">Дата окончания</label>
      <input type="datetime-local" placeholder="Дата и Время" name="time" required>

      <label for="fname"><b> Место проведения </b></label>
      <input type="text" placeholder="Место проведения" name="fname" required>

      <label for="num1"><b> Количество участников </b></label>
      <input type="number" placeholder="Количество участников" name="num1" required>
      
      <label for="phone"> Контакты</label>
      <input type="tel" name="phone" placeholder="99-123-45-67" pattern="[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>

      <label for="info"><b> Информация про Мероприятие </b></label>
      <textarea name="text" id="text" cols="80" rows="10" placeholder="Type your message here.."></textarea>

      <label for="fname"><b> Загрузить ссылку </b></label>
      <input type="text" placeholder="Название Организации" name="fname" required>


      <label for="myfile">Загрузить Фото</label>
      <input type="file" id="myfile" name="myfile">

      <div class="clearfix">
        <button type="submit" class="signupbtn button-sign"> Создать мероприятие</button>
      </div>
    </div>
  </form>
</body>
</html>