{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/demofi.css">
  <title>NoN</title>
</head>
<body>

     <!-- Login -->

  <section>
    <form class="modal-content" action="." method="post">
      <div class="container">
        <h2>Войти</h2>
        <p>Войдите в аккаунт для регистрации</p>
        <hr>
          <label for="password"><b>Старый Пароль </b></label>
        <input type="password" placeholder="Старый Пароль" name="old password" required>

        <label for="password"><b>Новый Пароль </b></label>
        <input type="password" placeholder="Новый Пароль" name="password" required>

      <label for="password2"><b>Повторите пороль</b></label>
      <input type="password" placeholder="Повторите пороль" name="password2" required>

        {% csrf_token %}
        <div class="clearfix">
          <input type="submit" class="signupbtn button-sign" value="Log in">
        </div>

      </div>
    </form>
  </section>

</body>
</html>