{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/demofi.css">
  <title>NoN</title>
</head>
<body>
  <div class="header">
    <h1>Добро пожаловать!</h1>
    <p>Быстро и легко организуйте мероприятия  </p>
  </div>
  <div class="topnav">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="active"><a href="today.html">Today</a></li>
          <li class="active"><a href="week.html">This week</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><button style="width:auto;" class="button-3"> <a href="up.html">Sign Up</a></button></li> -->
          <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
  </div>

  

  <!-- News -->
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <a href="register_for_event_form.html"><button class="button-info button2"> Регистрация на ивент </button> </a>
      </div>
    </div>
  </div>
  
  

  <footer>
    <div class="footer">
      <h2>Footer</h2>
    </div>
  </footer>

  <script src="function.js"></script>
</body>
</html>