{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/demofi.css">
  <title>NoN</title>
</head>
<body>

   <!-- Sign Up -->
  <section>
   <form action="." class="modal-content" method="post" style="border:1px solid #ccc">
    <div class="container">
      <h2>Регистрация </h2>
      <p>Пожалуйста создайты аккаунт для дальнейших действий </p>
      <hr>

      <label for="username"><b> Username </b></label>
      <input type="text" placeholder="username" name="username" required>

        <label for="email"><b>Электронная почта</b></label>
        <input type="text" placeholder="Электронная почта" name="email" required>

        <label for="password"><b>Пароль </b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

      <label for="password2"><b>Повторите пороль</b></label>
      <input type="password" placeholder="Repeat Password" name="password2" required>
        {% csrf_token %}
      <div class="clearfix">
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <input type="submit" class="signupbtn button-sign" value="Register">
      </div>
    </form>
  </section>
  
  <div>
    <img src="" alt="">
  </div>
  
</body>
</html>