{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/demofi.css">
  <title>NoN</title>
</head>
<body id="user_account_body">
  
  
<main >  
  <a href="{% url 'dashboard' %}"><svg width="3em" height="5em" viewBox="0 0 16 16" class="bi bi-arrow-bar-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
  </svg></a>
  <div class="wrapper">
    <div class="container">
      <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" alt="Snow" style="width:100%">
     <a href="{% url 'edit_account' %}"> <button class="btn"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
      </svg></button></a>
    </div>
    <h3 class="name">{{ user.first_name }} {{ user.last_name }}</h3> <br>
    </div>
    <h2>Мои мероприятия</h2>
    <div class="orders">
      <div class="order-punkt">
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="{% url 'event_info' %}">
              <img src="/assets/css/img/event.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Сохранение окружаюшей среды</div>
          </div>
        </div>
      </div>
    </div>

    <h2>Созданные мероприятия</h2>
    <div class="created-events">
      <div class="order-punkt">
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="{% url 'event_info' %}">
              <img src="/assets/css/img/event.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Сохранение окружаюшей среды</div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </main>
  <script src="js/function.js"></script>
</body>
</html>